<form method="POST" action="/admin/store-event" class="mt-4">
    <div class="form-group">
        <label for="">Event Name</label>
        <input type="text" class="form-control" name="event_name" placeholder="">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Event short name</label>
        <input type="text" class="form-control" name="event_shortname" placeholder="">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Event Image</label>
        <input type="text" class="form-control" name="event_thumb">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Event Slug</label>
        <input type="text" class="form-control" name="event_slug">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>