<form method="POST" action="/admin/store" class="mt-4">
    <div class="form-group">
        <label for="">Player Image</label>
        <input type="text" class="form-control" name="playerImg" placeholder="Enter a link">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Player Name</label>
        <input type="text" class="form-control" name="playerName">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Rating</label>
        <input type="text" class="form-control" name="rating">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Position</label>
        <input type="text" class="form-control" name="pos">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Nationality</label>
        <input type="text" class="form-control" name="flag">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Card Background</label>
        <input type="text" class="form-control" name="background" placeholder="Enter a link">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Event</label>
        <input type="text" class="form-control" name="event" placeholder="Enter a link">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <div class="form-group">
        <label for="">Event Slug</label>
        <input type="text" class="form-control" name="eventSlug" placeholder="Enter a link">
        <div class="error mt-3">
            <p class="errorMsg"></p>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>