@font-face {
    font-family: "DINProCondBold";
    src: url("../font/DINPro-CondBold.woff") ;
    // font-weight: 400;
}

@font-face {
    font-family: "posteramabold";
    src: url("../font/Posterama-Bold.ttf") ;
}

@font-face {
    font-family: "DINProBold";
    src: url("../font/DINPro-Bold.woff") ;
}

@import url("./responsive.scss");

// Responsive Mixin
$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$mobile-width - 1px}) {     
  @content;   
 } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
   @content;   
 } 
}  

@mixin desktop {   @media (min-width: #{$desktop-width}) {     
  @content;  
 } 
}

body {

    background-color: #262c49;
}
.app {
    font-family: 'DINProCondBold';
    color: #fff;
}


.show {
    display: block!important;
}

.container {
    @include tablet{
        max-width: 100%;
    }
    @include mobile{
        max-width: 100%;
    }
}
// Header CSS

.header-search {
    i{
        cursor: pointer;
    }
    .modal {
        .modal-dialog {
            .modal-content{
                background-color: #10163a;
                
                .search-input{
                    input{
                        width: 100%;
                        background-color: #262c49;
                        color: #ddd;
                        border: none;
                        border-radius: 6px;
                        padding: 4px; 
                    }  
                }
                #search-result{
                    max-height: 300px;
                    overflow-y: scroll;
                    .card-container{
                        color: #fff;
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        background-color: #10163a;
                        margin: 16px;
                        border-bottom: 1px solid #7777771a;
                        &:hover {
                            background-color: #262c49;
                        }
                    }
                }
            }
        }
    }
}


//My Card Page CSS

#my-card {
    margin-top: 64px;
    background-color: #10163a;
    min-height: 500px;
    padding: 0 32px;
    .card-list {
        .card-container {
            position: relative;
            text-decoration: none;
            .action-btn {
                position: absolute;
                top: 4px;
                right: 0;
                width: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    color: #fff;
                }
            }
            .action {
                display: none;
                position: absolute;
                top: 24px;
                right: 16px;
                background-color: #fff;
                transition: all 0.5s ease-in;
                .action-list{
                    margin-bottom: 0;
                    list-style-type: none;
                    padding: 0;
                    .action-item {
                        a{  
                            width: 100%;
                            text-decoration: none;
                            padding: 6px 8px;
                            display: flex;
                        }
                        &:hover{
                            background-color: #ccc;
                        }
                    }
                }
            }

        }
    }
}
// End My Card Page CSS


.home,
.cards, .events {
    background-color: #10163a;
    border-radius: 16px;
    margin-top: 64px;
    .section {
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 16px 48px;
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 64px;
            position: relative;
            .btn-show {
                position: absolute;
                margin-top: 32px;
                margin-right: auto;
                width: 100px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                color: #fff !important;
                font-size: 16px;
                font-family: "DINProBold";
                text-align: center;
                padding: 8px;
                background-color: #7367f0;
                border: none;
                border-radius: 6px;
            }
        }        
        .show-btn {
            background-color: #7367f0;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            padding: 8px 16px;
            border-radius: 6px;
            transition: all .2s ease;
            &:hover {
                box-shadow: 0 8px 25px -8px #1f74ff;
            }
        }
        .section-heading {
            color: #fff;
            text-transform: uppercase;
            border-bottom: 1px solid #fff;
        }        
    }
}



.card-list {
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(90px, auto);
    grid-gap: 10px; 
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
    @include mobile{
        grid-template-columns: repeat(2, 1fr);

    }
}


// Single Card CSS
.card-container {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 12px;
    .card-wrapper{
        width: 128px;
        height: 128px;
        position: relative;
        line-height: 1.2;
        margin: auto;
        span {
            position: absolute;
            color: #fff;
        }
        
        &.card-sm {
            width: 128px;
            height: 128px;
            position: relative;
            line-height: 1.2;
        }
        &.card-lg {
            width: 256px;
            height: 256px;
        }
        .card-image {
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .player-image {
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .event-image {
            width: 38px;
            height: 38px;
            position: absolute;
            top: 37%;
            left: 23%;
            &.event-sm-image {
                width: 19px;
                height: 19px;
            }
            &.event-lg-image {
                width: 38px;
                height: 38px;
            }
        }
        .nation-image {
            width: 30.1px;
            height: 18px;
            position: absolute;
            top: 55%;
            left: 24.5%;
            &.nation-sm-image {
                width: 15.05px;
                height: 9px;            
            }
        
        }
        .player-name {
            font-family: 'posteramabold';
            text-align: center;
            text-transform: uppercase;
            font-size: 10px;
            width: 100%;
            top: 68%;
            left: 0;
            white-space: nowrap;
            &.player-name-lg{
                font-size: 20px;
            }
        }
        .player-position {
            font-family: 'posteramabold';
            text-align: center;
            color: #fff;
            position: absolute;
            text-transform: uppercase;
            font-size: 8.5px;
            top: 26%;
            left: 21%;
            width: 19.5%;
            &.player-position-lg {
                font-size: 17px;
            }
        }
        .player-rating {
            font-family:'DINProCondBold';
            text-align: center;
            color: #fff;
            position: absolute;
            text-transform: uppercase;
            font-size: 25px;
            top: 6%;
            left: 23%;
            &.player-rating-lg {
                font-size: 50px;
            }
        } 
    }
    &:hover {
        cursor: pointer;
    }
}
// End Single Card CSS

// Card  Page CSS

#playerList {
    .filter-area {
        padding-right: 0;
        padding-left: 0;
        h3{
            width: 100%;
            padding-bottom: 8px;
        }
        form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: left;
            flex-direction: column;
            .filter-group {
                width: 100%;
                padding: 12px;
                &:hover{
                    background-color: #262c49;  
                    cursor: pointer;
    
                }
                .filter-name {
                    .col-sm-3{
                        font-size: 18px;
                        @include tablet{
                            font-size: 32px;
                        }
                    }
                    .col-sm-9 {
                        text-align: right;
                        // padding-right: 0;
                    }
                }
                .dropdown-list {
                    background-color: #262c49;
                    height: 300px;
                    overflow-y: scroll;
                    width: 100%;
                    display: none;
                    
                    .input-group {
                        width: 100%;
                        .form-check {
                            text-align: left;
                            label{
                                font-size: 14px;
                                margin-left: 4px;
                                @include tablet{
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    &.show{
                        display: block!important;
                    }
                }
            }
        }
        input {
            @include tablet{
                font-size: 32px;
            }
        }
        @include mobile{
           
        }
        @include tablet{
            max-width: 100%;
        }
    }
    
    .card-area {
        nav {
            .pagination {
                .page-item{
                    .page-link{
                        background-color: #10163a;
                    }
                }
            }
        }
        .card-stat-list {
            .card-container {
                color: #fff;
                align-items: center;
                padding-bottom: 24px;
                padding-top: 24px;
                border: none;
                border-bottom: 1px solid #7777771a;
                &:hover {
                    text-decoration: none;
                    background-color: #262c49;
                }
                .card-wrapper {
                    margin-left: 16px;
                    .card-lg {
                        margin: 0px;  
                    }
                    
                }
                .card-info {
                    
                    float: left;
                    .full-name {
                        display: inline;
                        font-size: 24px;
                    }
                    @include mobile{
                        display: none;
                    }
                    @include tablet{
                        display: none   ;
                    }
                }
                .card-avg-stats {
                    .stat-group {
                        margin: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 16.66666666%;
                        .stat-number {
                            font-size: 24px;
                            @include tablet{
                                font-size: 32px;
                            }
                        }
                        .stat-type {
                            display: flex;
                            justify-content: center;
                            color: #ccc;
                            font-weight: 300;
                            border-top: 1px solid #aaa;
                            width: 100%;
                            @include tablet{
                                font-size: 32px;
                            }
                        }
                    }
                }
            }
            
        }
    }
}


// End Card Page CSS

// Card Generator Page CSS
.card-generator{
    padding: 32px 64px;
    border-radius: 16px;
    margin-top: 64px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    background-color: #10163a;
    .card-display{
        margin-right: 48px;
        .card-container {
            border: 1px solid #e4e4e4;
            border-radius: 6px;
            .card-wrapper {
                margin: 16px;
            }
        }
    }
    .create-form{
        width: 50%;
        margin-top: 24 px;
        form{
            margin-top: 16px;
            @include mobile{
                font-size: 28px;
                font-weight: 300
            }
            .form-group {
                label{
                    @include mobile{
                        font-size: 40px;
                    }
                    @include tablet{
                        font-size: 36px;
                    }
                }
                .form-control {
                    @include mobile{
                        font-size: 40px;
                    }
                    @include tablet{
                        font-size: 36px;
                    }
                    font-family: posteramabold;
                }
                #player-img-search {
                    background-color: #10163a;
                    max-height: 300px;
                    overflow-y: scroll;
                    // padding: 32px;
                    // display: none;
                    .image-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        &:hover {
                            background-color: #262c49;
                        }
                    }

                }
                #nation-search {
                    background-color: #10163a;
                    max-height: 200px;
                    overflow-y: scroll;
                    .flag-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex: 1 1   ;
                        cursor: pointer;
                        &:hover {
                            background-color: #262c49;
                        }
                    }
                    
                }
                #club-search {
                    background-color: #10163a;
                    max-height: 200px;
                    overflow-y: scroll;
                    .club-wrapper {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        flex: 1 1   ;
                        cursor: pointer;
                        &:hover {
                            background-color: #262c49;
                        }
                    }
                }
                
            }
            .input-group {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                padding: 0 64px;
                .btn {
                    font-size: 24px;
                    @include mobile{
                    font-size: 36px;

                    }
                }
                input {
                    max-width: 120px;
                    @include mobile{
                        max-width: 240px;
                    }
                    @include tablet{
                        max-width: 240px;
                    }
                }
            }
        }
    }
}
//End  Card Generator CSS



.bg-light-purple {
    background-color: #7367f0!important;
}

// Card-detail CSS 
.cards {
    
    .career-container{
        width: 300px;
        .career-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            border-bottom: 2px solid #e4e4e4;
            .item-left {
                color: #7367f0;
            }
        }
    }
    .divider {
        width: 3px;
        background-color: #e4e4e4;
        margin: 0 64px;
        height: 250px;
    }

    .stats {
        width: 100%;
        justify-content: center;
        .stat-group {
            margin: 24px;
            min-width: 120px;
            display: flex;
            align-items: center;
            flex-direction: column;
            @include tablet{
                flex: 0 0 25%;
                max-width: 25%;
            }
            @include mobile{
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
            .stat-avg {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 120px;
                height: 60px; /* as the half of the width */
                border-top-left-radius: 60px;
                border-top-right-radius: 60px;
                // border: 8px solid #35a936;
                border-bottom: 0;
            
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding-top: 16px;
                position: relative;
                
                div{
                    margin-top: 36px;
                    position: absolute;
                    // top: 32px;
                
                }
                .stat-type {
                    text-transform: uppercase;
                    font-size: 24px;
                    
                }
                .avg {
                    font-size: 48px;
                    
                }
            }
            .stat-detail-list {
                margin-top: 48px;
                width: 100%;
                .stat-detail-item {
                    display: flex;
                    justify-content: space-between;
                    .stat-label {
                        color: #fff;
                        @include mobile{
                            font-size: 28px;
                            
                        }
                        @include tablet{
                            font-size: 28px;
                            
                        }
                    }
                    .stat-data {
                        color: #35a936;
                        @include mobile{
                            font-size: 30px;
                            
                        }
                        @include tablet{
                            font-size: 30px;
                            
                        }
                    }
                    
                }
            }
            
        }
    }
}



.stat-color-bad {
    color: #9b3637!important;
}

.stat-color-average {
    color: #e5aa53!important;
}

.stat-color-good {
    color: #8bcb4f!important;
}
 
.stat-color-great{
    color: #35a936!important;

}

.avg-color-bad {
    background: #9b3637!important;
}

.avg-color-average {
    background: #e5aa53!important;
}

.avg-color-good {
    background: #8bcb4f!important;
}


.bg-darkpurple {
    background-color: #10163a;
}


//load avg stats 
.gauge {
    width: 100%;
    max-width: 250px;
    color: #fff;
    position: relative;
    @include tablet(){
        max-width: 180px;
    }
    @include mobile(){
        max-width: 180px;
    }
    div{
        .avg {
            font-size: 48px;
            line-height: 36px;
        }
        .stat-type {
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    .gauge__body {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        background: #262c49;
        position: relative;
        border-top-left-radius: 100% 200%;
        border-top-right-radius: 100% 200%;
        overflow: hidden;
        .gauge__fill {
            position: absolute;
            top: 100%;
            left: 0;
            width: inherit;
            height: 100%;
            background: #35a936;
            transform-origin: center top;
            transform: rotate(0turn);
            transition: transform 0.8s ease-out;
        }
        .gauge__cover {
            width: 80%;
            height: 150%;
            background: #10163a;
            border-radius: 50%;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
          
            /* Text */
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 25%;
            box-sizing: border-box;
        }
    }
      
}


// EVents CSS
.event-list {
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(90px, auto);
    row-gap:75px;
    column-gap:12px;
    .event-container {
        position: relative;
        transition: all .3s ease-in-out;
        &:hover {
            text-decoration: none !important;
            color: #fff;
        }
        .blurred-bg {


            /* Add the blur effect */
            filter: blur(8px);
            -webkit-filter: blur(8px);
        
            /* Full height */
            height: 100%;
        
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .event-wrapper {

            width: 100%;
            position: absolute;
        
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            text-align: center;
            .wrapper-body {
                border: 1px solid #e4e4e4;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                .event-image {
                    padding: 16px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    z-index: 2;
                }
                .event-name {

                    color: #fff!important;
                    font-weight: 700;
                    font-family: posteramabold;
                    z-index: 1;
                    text-align: center;
                    text-transform: uppercase;
                    text-decoration: none;
                    margin: 0;
                }
                .blackbar {
                    height: 30%;
                    width: 100%;
                    padding: 8px 0;
                    background-color: rgba(26, 33, 64, .8);
                    border-radius: 0 0 6px 6px;
                
                    z-index: 0;
                
                }
                
            }
        }
    }

    
    @include tablet {
        grid-template-columns: repeat(3, 1fr);
    }
    @include mobile{
        grid-template-columns: repeat(2, 1fr);

    }
    
}

// Profile Page CSS
#profile{
       .profile-avatar {
        .avatar {
            position: relative;
            .avatar-img{
                background-size: cover;
                background-position: center;
                width: 120px;
                height: 120px;
                cursor: pointer;
                &:hover +.edit-avatar{
                    
                    display: flex;
                    cursor: pointer;
                }
            }
            .edit-avatar {
                display: none;
                border-bottom-left-radius: 60px ;
                border-bottom-right-radius: 60px ;
                position: absolute;
                top: 80px;
                width:120px;
                height: 60px;
                background-color: #262c49;
                opacity: 0.7;
                i.fa-pen {
                    color: #fff;
                    margin-top: 12px;
                    cursor: pointer;
                }
                &:hover{
                    display: flex;
                    cursor: pointer;
                }
            }
        }
        .username {
            span{
                font-size: 20px;
                color: #1f74ff;
            }
        }
       } 
}

//End Profile Page CSS



