<a class="event-container " href="events/{{event_slug}}">
    <div class="blurred-bg" style="background-image: url( {{event_thumb}});"></div>
    <div class="event-wrapper">
        <div class="wrapper-body">
            <div class="event-image">
                <img height="75" src="{{event_thumb}}">
            </div>
            <div class="blackbar">
                <h4 class="event-name text-white">{{event_shortname}}</h4>
            </div>
        </div>
    </div>
</a>